---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Over from '../components/Over.astro';
import Sfeer from '../components/Sfeer.astro';
import Cta from '../components/Cta.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Over />
    <Sfeer />
    <Cta />
    <Contact />
  </main>
  <Footer />
</Layout>
